@(eventsList: List[Event], algoritms: List[ptstemmer.Stemmer.StemmerType])

@import helper._

@main("Twitter Monitor 2.0 - Roots") {

	<div class="container well">
		<h1>Select the events to generate the Glossary</h1>
		
		@form(routes.RootController.generate(), args='id -> "formGenerate") {
			@for(event <- eventsList) {
				<label>
				<input type="checkbox" id="event-@event.getId()" name="selectedEvents[]" value="@event.getId()"/>
				@event.getName() (@event.getNrTweets())
				</label>
				<br/>
			}
			<br/>
			
			<label>Select the algoritm</label>
			<select id="selectAlgoritm" name="algoritm" class="input-medium">
			@for(algoritm <- algoritms) {
				<option>@algoritm</option>
			}
			</select>
			
			<label>Type the Cut value here</label>
			<input type="number" name="cutValue" value="50" min="1" max="10000" class="input-mini"/>
			
			<br/>
			<br/>
			<div class="form-actions">
				<input id="botaoGenerate" class="btn btn-primary button" type="submit" value="Generate!">
			</div>
		}
	</div>
	
}


<script type="text/javascript">

	jQuery('#botaoGenerate').on("click", function(e) {
		e.preventDefault();
		
		var formGenerate = jQuery('#formGenerate')
		
		$.ajax({
			url: '/roots',
			type: 'POST',
			data: formGenerate.serialize(),
			success: function(response) {
				if (response.code == 200) {					
					alertify.success(response.message)
					window.location.href = ($(location).attr('origin')+response.redirectUrl)
					
				} else {
					alertify.error(response.message)
				}
			},
			error: function(response) {
				console.log("erro")
				
			}
		})
		
	});
		
	$(document).ready(function() {
		var selectAlgoritm = jQuery('#selectAlgoritm')
		
		selectAlgoritm.tooltip({placement: 'right', title: 'ORENGO: Demorado / Eficiente<br>POTER: RÁPIDO / Ineficiente<br>SAVOY: MEIO TERMO', html: true})
	});
	
	
</script>
