@(rootsList: List[Root], countRejected: Long, count: Long, page: Int, pageLength: Int, orderType: String)

@import helper._

@main("Twitter Monitor 2.0 - Roots") {

	<div id="progressContainer" class="container">
		
		<h3 id="statusMessage"></h3>
	
		<div class="progress progress-striped active">
  			<div id="progressBar" class="bar"></div>
		</div>
		
	</div>

	<div id="container" class="container">
		<h3 id="statusMessageContainer"></h3>
		<h1>Roots</h1>
		
	    <div class="jetstrap-highlighted well">
	    	
	    	<h2>Total Roots: @count</h2>
	    	<h4>Total Accepted: @(count - countRejected)</h4>
	    	<h4>Total Rejected: @countRejected</h4>
	    	
	    	@if(orderType.equals("count")) {
	    		<h5><a href="@routes.RootController.paginate(1, 100, "rootWord")">Show Alphabetic Order</a></h5>
	    	} else {
	    		<h5><a href="@routes.RootController.paginate(1, 100, "count")">Show Count Order</a></h5>
	    	}
	    	<div class="form-actions">
	    		<a href="@routes.RootController.pageGenerate()"><button class="btn btn-success">Generate Roots Again!</button></a>
    		</div>
	    </div>
	
		@views.html.paginate(page, pageLength, count.toInt, orderType, routes.RootController.paginate(_,_,_))
		
	
		<div id="rootsContainer" class="row-fluid">
			<div class="span12">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Root Word</th>
							<th>Count</th>
							<th>Generators</th>
							<th>Will cut?</th>
						</tr>
					</thead>
					<tbody>
						@for(root <- rootsList) {
							@if(root.isRemoved()) {
							<tr id="rootwordRow-@root.getId()" class="error">
							} else {
							<tr id="rootwordRow-@root.getId()" class="success">
							}
								<td></td>
								<td>@root.getRootWord()</td>
								<td>@root.getCount()</td>
								<td>
									@for(generator <- root.getWordsGenerators()) {
										@generator
										<br/>
									}
								</td>
								<td>
									@if(root.isRemoved()) {
										<button style="width: 140px;" id="button_accept_@root.getId()" class="btn btn-inverse" onclick="acceptRoot('@root.getId()')" onmouseover="showButtonInfo('@root.getId()')" value="true" onmouseout="closeButtonInfo('@root.getId()')">
										Yes
										</button>
									} else {
										<button style="width: 140px;" id="button_accept_@root.getId()" class="btn btn-inverse" onclick="acceptRoot('@root.getId()')" onmouseover="showButtonInfo('@root.getId()')" value="false" onmouseout="closeButtonInfo('@root.getId()')">
										No
										</button>
									}
									
								</td>
							</tr>
						}		
					</tbody> 
					
				</table>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
	
		function showButtonInfo(rootId) {
			var botao = jQuery('#button_accept_'+rootId);
			botao.removeClass('btn-inverse')
			if (botao.val() == 'true') {
				botao.html('Accept anyway!')
				botao.addClass('btn-success')	
			} else {
				botao.addClass('btn-danger')
				botao.html('Reject anyway!')
			}
			
		}
		
		function closeButtonInfo(rootId) {
			var botao = jQuery('#button_accept_'+rootId);
			botao.removeClass('btn-danger btn-success')
			botao.addClass('btn-inverse')
			if (botao.val() == 'true') {
				botao.html('Yes')	
			} else {
				botao.html('No')
			}
			
		}
	
		function acceptRoot(rootId) {
			var botao = jQuery('#button_accept_'+rootId);
			$.ajax({
			    url: '/roots/acceptRoot/'+rootId,
			    type: 'POST',
			    success: function(response) {
			    	if (response.status == "ok") {
			    		if (response.accepted == true) {
							botao.attr('value', true)
							// o cara foi removido!
							// colocar a 'linha' em VERMELHO
							jQuery('#rootwordRow-'+rootId).removeClass('success')
							jQuery('#rootwordRow-'+rootId).addClass('error')
							
							botao.removeClass('btn-error')
							botao.addClass('btn-success')
							
							botao.html('Accept anyway!')
						} else {
							botao.attr('value', false)
							
							
							jQuery('#rootwordRow-'+rootId).removeClass('error')
							jQuery('#rootwordRow-'+rootId).addClass('success')
							
							botao.removeClass('btn-success')
							botao.addClass('btn-error')
							
							botao.html('Reject anyway!')
						}
			    		
					}
			    }
			});
		}
		
		
		$(document).ready(function() {
			
			var STARTED = false;
			
			var statusMessage = jQuery('#statusMessage');
			var statusMessageContainer = jQuery('#statusMessageContainer');
			
			
			var container = jQuery('#container');
			container.hide()
			
			var progressContainer = jQuery('#progressContainer');
			progressContainer.hide()
			
			var progressBar = jQuery('#progressBar');
			var progressParent = progressBar.parent();
 			
			var currentMsg = ""
			
			var interv = setInterval(function(){
				console.log(interv);
				$.ajax({
					url: '/roots/generate/status',
					type: 'GET',
					success: function(response) {
						console.log(response)
						if (response.map.statusProgress == null) {
							if (STARTED == true) {
								location.reload();
							} else {
								container.fadeIn();	
								clearInterval(interv);
							}
						} else if (response.map.statusProgress.eventId == 'started') {
							STARTED = true;
							progressContainer.fadeIn();
							container.hide()
							if (currentMsg != 'The algoritm has just started...') {
								currentMsg = 'The algoritm has just started...';
								alertify.success(currentMsg)
							} 
							statusMessage.html('Starting roots generations in few seconds...')
						} else {
							progressContainer.fadeIn();
							var progressNow = response.map.statusProgress.progress
							progressBar.width(progressNow*progressParent.width()/100);
							container.hide()
							statusMessage.html('Generating roots for event with id: '+response.map.statusProgress.eventId)
							if (currentMsg != (progressNow+' % complete')) {
								currentMsg = progressNow+' % complete'
								alertify.success(currentMsg)
								
							}
						}
					},
					error: function() {
						statusMessageContainer.html('Ops, something crashed!');
						container.fadeIn();
					}
				});
			}, 1000);
			
		});
		
		
		
		
	</script>

}