@(eventsList: List[Event])

@import helper._

@main("Twitter Monitor 2.0 - Word") {

	<div class="container well">
		<h1>Select the events to generate Words</h1>
		
		@form(routes.GlossaryController.generateWords(), args='id -> "formGenerate") {
			@for(event <- eventsList) {
				<label>
				<input type="checkbox" id="event-@event.getId()" name="eventsList[]" value="@event.getId()"/>
				@event.getName() (@event.getNrTweets())
				</label>
				<br/>
			}
			<br/>
			
			<label>Glossary name</label>
			<input type="text" name="name" value="50"  class="input-medium"/>
			
			<div class="form-actions">
				<input id="botaoGenerate" class="btn btn-primary button" type="submit" value="Generate!">
			</div>
		}
	</div>
	
}


<script type="text/javascript">

	jQuery('#botaoGenerate').on("click", function(e) {
		e.preventDefault();
		
		var formGenerate = jQuery('#formGenerate')
		
		$.ajax({
			url: '/glossary',
			type: 'POST',
			data: formGenerate.serialize(),
			success: function(response) {
				if (response.code == 200) {					
					alertify.success(response.message)
					window.location.href = ($(location).attr('origin')+response.redirectUrl)
					
				} else {
					alertify.error(response.message)
				}
			},
			error: function(response) {
				console.log("erro")
				
			}
		})
		
	});
		
	
	
</script>
