@(title : String, subTitle : String = "", icon : String = "", statsName1 : String = "" , statsNumber1 : Int = 0 , statsName2 : String = "" , statsNumber2 : Int = 0 , statsName3 : String = "" , statsNumber3 : Int = 0 )

<div class="container-fluid">
		  <div class="row-fluid">
				
		    <div class="area-top clearfix">
		      <div class="pull-left header">
		        <h3 class="title">
		          <i class="@icon"></i>
		          @title
		        </h3>
		        <h5>
		          @subTitle
		        </h5>
		      </div>
		
		      <ul class="inline pull-right sparkline-box">
		
				@if(!statsName1.equals("")) {
		        <li class="sparkline-row">
		          <h4 class="blue"><span>@statsName1</span> @statsNumber1</h4>
		          <div class="sparkline big" data-color="blue"><!-- 2,30,23,15,3,30,31,7,12,14,23,23 --></div>
		        </li>
		        }
		
				@if(!statsName2.equals("")) {
		        <li class="sparkline-row">
		          <h4 class="green"><span>@statsName2</span> @statsNumber2</h4>
		          <div class="sparkline big" data-color="green"><!-- 10,20,2,1,5,2,6,14,2,23,18,3,13--></div>
		        </li>
		        }
		
				@if(!statsName3.equals("")) {
		        <li class="sparkline-row">
		          <h4 class="red"><span>@statsName3</span> @statsNumber3</h4>
		          <div class="sparkline big"><!-- 1,5,4,10,2,15,16,18,7,15,3,14 --></div>
		        </li>
		        }
		
		      </ul>
		    </div>
		  </div>
		</div>