@(event: models.Event, dictionariesList: List[models.Dictionary]) 

@import helper._

@main("Twitter Monitor", "events") {

	
	<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">File is ready</h3>
	  </div>
	  <div id="statusMessage" class="modal-body">
	  	<dl class="dl-horizontal" id="dl-info">
	  	</dl>
	  	<a id="linkDownload" href="#"><button class="btn btn-xlarge">Download Json File</button></a><a id="linkJsonViewer" href="#"><button class="btn btn-xlarge">Open in Json Viewer</button></a>
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  </div>
	</div>

	<div class="container hide" id="bodyContent">
		<h1>@event.getName()</h1>
		<h4>@event.getNrTweets() tweets</h4>
		
		<ul class="nav nav-tabs" id="tabEvents">
		  <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
		  <li><a href="#getTweets" data-toggle="tab">Get Tweets</a></li>
		</ul>
		 
		<div class="tab-content">
		
			<!-- TAB DETAILS -->
			<div class="tab-pane active" id="details">
			
				<figure style="width: 800px; height: 300px;" id="chart"></figure>
			
			</div>
		  
			<!-- TAB GET_TWEETS -->
 			<div class="tab-pane" id="getTweets">
 			
 				<div class="row-fluid">
 				
 			
 				<form id="formFilter" action="@routes.EventController.getTweets()" class="form-horizontal" method="POST">
 				<div class="span6">
					<fieldset>
					<!-- Multiple Radios -->
					<div class="control-group">
					  <label class="control-label" for="recoverAll">Select Tweets</label>
					  <div class="controls">
					    <label class="radio" for="recoverAll-0">
					      <input type="radio" name="recoverAll" id="recoverAll-0" value="true" checked="checked">
					      All
					    </label>
					    <label class="radio" for="recoverAll-1">
					      <input type="radio" name="recoverAll" id="recoverAll-1" value="false">
					      Only with 'corrects' words
					    </label>
					  </div>
					</div>
					<input type="hidden" name="eventId" value="@event.getId().toString()">
					<div id="divFilters" class="hide">
						<!-- Select Basic -->
						<div class="control-group">
						  <label class="control-label" for="dictionaryId">Select the dictionary with correct words</label>
						  <div class="controls">
						    <select id="dictionaryId" name="dictionaryId" class="input-xlarge">
						    	@for(dictionary <- dictionariesList) {
						    		<option value="@dictionary.getId().toString()">@dictionary.getName()</option>
					    		}
						    </select>
						  </div>
						</div>
						
						<!-- Appended Input-->
						<div class="control-group">
						  <label class="control-label" for="correctRate">Correct Rate</label>
						  <div class="controls">
						    <div class="input-append">
						      <input id="correctRate" name="correctRate" class="input-mini" value="70" type="text">
						      <span class="add-on">%</span>
						    </div>
						    
						  </div>
						</div>
						
						<!-- Multiple Checkboxes -->
						<div class="control-group">
						  <label class="control-label" for="considerWhat">Also consider correct</label>
						  <div class="controls">
						    <label class="checkbox" for="considerWhat-0">
						      <input type="checkbox" name="considerWhat[]" id="considerWhat-0" value="siglas">
						      siglas
						    </label>
						    <label class="checkbox" for="considerWhat-1">
						      <input type="checkbox" name="considerWhat[]" id="considerWhat-1" value="urls">
						      urls
						    </label>
						    <label class="checkbox" for="considerWhat-2">
						      <input type="checkbox" name="considerWhat[]" id="considerWhat-2" value="users">
						      @@user
						    </label>
						    <label class="checkbox" for="considerWhat-3">
						      <input type="checkbox" name="considerWhat[]" id="considerWhat-3" value="hashtags">
						      #hashtags
						    </label>
						  </div>
						</div>
					</div>
					</fieldset>
					
				</div>
				
				<div class="span6">
					<div class="control-group">
					  <div class="controls">
					    <button id="sendButton" name="sendButton" class="btn btn-primary">Get tweets</button>
					  </div>
					</div>
				</div> <!-- end span -->
					
				</form>
				
				
				
			</div> <!-- end row-fluid -->
			</div>
		  
		  
		  </div>
		
	</div>
 

	<script type="text/javascript">
	
		var STARTED = false;
	
		var intern;
		function verifyProgress() {
			console.log("iniciou interv")
			$.ajax({
				url: '@routes.EventController.getTweetStatus()',
				type: 'GET',
				success: function(response) {
					if (response.message == "null") {
						jQuery('#mainContent').fadeIn()
						jQuery('#bodyContent').fadeIn()
						jQuery('#progressContent').fadeOut()
						clearInterval(interv)
						
						if (STARTED) {
							alertify.success("Got tweets")
						}
						
						STARTED = false;
					} else {
						
						STARTED = true;
						
						/* jQuery('#mainContent').fadeIn()
						jQuery('#bodyContent').fadeOut()
						jQuery('#progressContent').fadeIn() */
						
						var filename = response.map.filename;
						if (typeof filename != 'undefined') {
							var modal = jQuery('#modal')
							if (!modal.is(":visible")) {
								var url = window.location.origin
								var totalTweets = response.map.totalTweets
								var totalCorrectTweets = response.map.totalCorrectTweets
								var correctRateOverAll = response.map.correctRateOverAll
								var isRecoverAll = response.map.isRecoverAll
								/* jQuery('#statusMessage').html('<p><a href="'+url+'/events/getTweets/'+filename+'">'+url+'/events/getTweets/'+filename+'</a></p>') */
								
								jQuery('#dl-info').html('<dt>Total tweets</dt><dd>'+totalTweets+'</dd>')
								jQuery('#linkDownload').attr('href', url+'/events/getTweets/'+filename)
								jQuery('#linkJsonViewer').attr('href', 'http://jsonviewer.stack.hu/#'+url+'/events/getTweets/'+filename)
								
								if (!isRecoverAll) {
									jQuery('#dl-info').append('<dt>Total correct tweets</dt><dd>'+totalCorrectTweets+' ('+correctRateOverAll+' %)</dd>')
								}
								
								modal.modal();
								clearInterval(interv);
							}
						} else {
							alertify.log('processando...');
						}
						
						
					}
				}
				
			})
		}
	
		
		jQuery('#sendButton').click(function(e) {
			e.preventDefault();
			
			var data = jQuery('#formFilter').serialize();
			
			$.ajax({
				url: '@routes.EventController.getTweets()',
				type: 'POST',
				data: data,
				success: function(response) {
					console.log(response)
					var code = response.code;
					
					if (code == 200) {
						// everything ok
						alertify.success(response.message)
						interv = setInterval(verifyProgress, 5000);
						
					} else {
						if (code == 400) {
							//validation failed
							$.each(response.map.errors, function(index) {
								alertify.error(response.map.errors[index].errorMsg);
							});
						}
					}
					
				},
				error: function(response) {
					console.log(response)
				}
			});
			
		})
	
	
		$("input[type='radio']").change(function () {
			var selection=$(this).val();
			
			if (selection == "false") {
				jQuery('#divFilters').fadeIn()
			} else {
				jQuery('#divFilters').fadeOut()
			}
		});
		
		$('a[data-toggle="tab"]').on('shown', function (e) {
		  e.target // activated tab
		  e.relatedTarget // previous tab
		})
		
		
		
		
		
		
		
		
		// CHARTS ====================================================================================================
		
		// The tooltip shown over the chart
	    var tt = $('<div class="ex-tooltip">').appendTo('body'), topOffset = -32;
	
	    var data = {
	        "xScale" : "time",
	        "yScale" : "linear",
	        "main" : [{
	            className : ".stats",
	            "data" : []
	        }]
	    };
	
	    var opts = {
	        paddingLeft : 50,
	        paddingTop : 20,
	        paddingRight : 10,
	        axisPaddingLeft : 25,
	        tickHintX: 9, // How many ticks to show horizontally
	
	        dataFormatX : function(x) {
	
	            // This turns converts the timestamps coming from
	            // ajax.php into a proper JavaScript Date object
	
	            /* return Date.create(x); */
	            return  Date.create(x);
	        },
	
	        tickFormatX : function(x) {
	
	            // Provide formatting for the x-axis tick labels.
	            // This uses sugar's format method of the date object. 
	
	            return x.format('{dd}/{MM}');
	        },
	
	        "mouseover": function (d, i) {
	            var pos = $(this).offset();
	
	            tt.text(d.x.format('{Month} {ord}') + ': ' + d.y).css({
	
	                top: topOffset + pos.top,
	                left: pos.left
	
	            }).show();
	        },
	
	        "mouseout": function (x) {
	            tt.hide();
	        }
	    };
	
	    // Create a new xChart instance, passing the type
	    // of chart a data set and the options object
	
	    var chart = new xChart('line-dotted', data, '#chart' , opts);
		
		
		// Function for loading data via AJAX and showing it on the chart
	    
			function ajaxLoadChart() {

	    
	        $.ajax({
	        	url: '@routes.EventController.getTweetsCountPerDay(event.getId().toString())',
	        	type: 'GET',
	        	success: function(response) {
	        		console.log(response)
	        		var set = [];
	        		$.each(response.map.countPerDay, function() {
		                set.push({
		                    x : this.label,
		                    y : parseInt(this.value, 10)
		                });
		            });
	        		
	        		chart.setData({
		                "xScale" : "time",
		                "yScale" : "linear",
		                "main" : [{
		                    className : ".stats",
		                    data : set
		                }]
		            });
	        	}
	        });
	    }
		
		
		
		// DOCUMENT READY
		
		$(document).ready(function() {
			
			jQuery('#mainContent').fadeIn()
			interv = setInterval(verifyProgress, 1000);
			ajaxLoadChart();
			
		})
		
	</script>
}