@(eventsList: List[Event])

@import helper._
@import helper.twitterBootstrap._

@pageTitle = {
}

@scripts = {
	
}

@main("Twitter Monitor 2.0", "events", scripts, pageTitle) {

<h2>Events List</h2>

<div class="span8">
@for((event, index) <- eventsList.zipWithIndex) {
		
		<div class="box closable-chat-box tip" data-placement="right" title="
				@for((key, value) <- event.getKeywords()) {
					@if(value.name == "TEXT") {
						<p>Contains: @key</p>		 	
				 	} else {
				 		<p>Following: @@@key</p>
				 	}		
				}
		">
		  <div class="box-content padded" onclick="location.href=window.location.origin+'@routes.EventController.pageDetails(event.getId().toString())'" style="cursor: pointer;">
		    <div class="fields">
		      <ul>
		        <li><b><h3>@event.getName()</h3></b></li>
		        <li class="note">
		        	<i class="icon-time"></i> @event.getStartDate() - @event.getFinishDate()
		        	@if(event.getSituation().equals(enums.Situation.NEVER_STARTED)) {
	        		<span class="label label-black">@event.getSituation()</span>
	        		}
	        		@if(event.getSituation().equals(enums.Situation.STARTED)) {
	        		<span class="label label-blue">@event.getSituation()</span>
	        		}
	        		@if(event.getSituation().equals(enums.Situation.FINISHED)) {
	        		<span class="label label-default">@event.getSituation()</span>
	        		}
	        		@if(event.getSituation().equals(enums.Situation.ANALYSED)) {
	        		<span class="label label-green">@event.getSituation()</span>
	        		}	
		        </li>
		        
		      </ul>
	          <div class="news-time">
        		<span>@event.getNrTweets()</span> tweets
      		  </div>	
		    </div>
		  </div>
		</div>
	
	}
	
</div>

	
    
}
