@(dictionary: models.Dictionary)

@main("Twitter Monitor", "dictionaries") {

	<div class="container">
	
	<h1>@dictionary.getName()</h1>
	<h3>@dictionary.getDescricao()</h3>
	<h4>Total words: @dictionary.getTotalWords()</h4>
	
	<form id="formAddWord" class="form-horizontal">
		<fieldset>
		
		<!-- Form Name -->
		<legend>Add new word</legend>
		
		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label" for="wordString">Word</label>
		  <div class="controls">
		    <input id="wordString" name="wordString" type="text" placeholder="word" class="input-xlarge" required="">
		    <input type="hidden" name="dictionaryId" value="@dictionary.getId().toString()">
		    
		  </div>
		</div>
		<div class="form-actions">
			<button id="sendButton" type="submit" class="btn btn-large btn-primary">Create</button>
		</div>
		</fieldset>
	</form>
	
	<table id="tabelaWords" class="table table-striped">
	
		<thead>
	        <tr>
	        	<th>#</th>
	            <th>Word</th>
	        </tr>
	    </thead>
	    <tbody>
	        
	    </tbody>
	</table>
		
		
	</div>

	
	
	<script type="text/javascript">
	
		jQuery('#sendButton').click(function(e) {
			e.preventDefault();
			
			var data = jQuery('#formAddWord').serialize()
			
			$.ajax({
				url: '/dictionaries/addWord',
				type: 'POST',
				data: data,
				success: function(response) {
					console.log(response)
					var code = response.code;
					
					if (code == 200) {
						// everything ok
						alertify.success(response.message)
						
					} else {
						if (code == 400) {
							//validation failed
							$.each(response.map.errors, function(index) {
								alertify.error(response.map.errors[index].errorMsg);
							});
						}
					}
					
				},
				error: function(response) {
					console.log(response)
				}
			});
		});
	
		$(document).ready(function (){
			jQuery('#mainContent').fadeIn()
			
			$.ajax({
				url: '@routes.DictionaryController.getWords(dictionary.getId().toString(), 50, 0)',
				type: 'GET',
				success: function(response) {
					if (response.code == 200) {
						var words = response.map.words;
						$.each(words, function(index) {
							jQuery('#tabelaWords > tbody').append("<tr><td>"+index+"</td><td>"+words[index].name+"</td></tr>")		
						});
					} 
						
					 
					
				}
			})
			
		});
	
	</script>
	
}